manifest {
  name = 'FloWuenne/nextflow_saige_dsl2'
  author = 'Florian Wuennemann'
  homePage = 'https://github.com/FloWuenne/nextflow_saige_dsl2'
  description = 'A very simple nextflow DSL2 pipeline to run SAIGE GWAS analysis, followed by some standard plots.'
}

profiles {

  standard {
      process.executor = 'local'
  }

  cluster_slurm {
      process.executor = 'slurm'

  }

}

env {
  PYTHONNOUSERSITE = 1
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "--contain --no-home"
}


params {
  
  vcfs_list = false
  grm_plink_input = false
  phenoFile = "phenoFile"
  outdir = "results"
  phenoCol = "test"
  covarColList = "234"
  sampleIDcol = "IID"

  bgen_prefix = "genotype_100markers"
  bgen_suffix = "."
  bgen_dir = "."
  sampleFile = "samplefileforbgen_10000samples.txt"
  varianceRatio = "varianceRatio"
  rda = "test"
  vcfField = "GT"
  minMAC = "3"
  minMAF = "0.0001"

  trait_type = 'binary'
  saige_step1_extra_flags = "--LOCO=FALSE"
  output_tag = 'test'
  gwas_cat = 'gwascat.csv'
  top_n_sites = 200
  max_top_n_sites = 1000
  saige_filename_pattern = '.SAIGE.gwas.txt'
  chrom = ['1','2']
}


process {

  withName: saige_step1_bin {
    container = 'saige_0.43.2.sif'
  }
  withName: saige_step2_spa {
    container = 'saige_0.43.2.sif'
  }
  withName: prepare_files {
    container = 'gelgwas_1.1dev.sif'
  }
  withName: create_plots {
    container = 'gelgwas_1.1dev.sif'
  }
  

}
