manifest {
  name = 'FloWuenne/nextflow_saige_dsl2'
  author = 'Florian Wuennemann'
  homePage = 'https://github.com/FloWuenne/nextflow_saige_dsl2'
  description = 'A very simple nextflow DSL2 pipeline to run SAIGE GWAS analysis, followed by some standard plots.'
}

singularity.autoMounts = true

singularity {
  enabled = true
  runOptions = "--no-home"
}