manifest {
  name = 'FloWuenne/nextflow_saige_dsl2'
  author = 'Florian Wuennemann'
  homePage = 'https://github.com/FloWuenne/nextflow_saige_dsl2'
  description = 'A very simple nextflow DSL2 pipeline to run SAIGE GWAS analysis, followed by some standard plots.'
}

profiles {

  standard {
      process.executor = 'local'
  }

  cluster_slurm {
      process.executor = 'slurm'
      queueSize = 300
  }

}

env {
  PYTHONNOUSERSITE = 1
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "--no-home"
}


params {
  
  vcfs_list = false
  grm_plink_input = false
  pheno_data = false

  q_filter = '0.005:minor'
  thres_m = '1e-5'
  thres_HWE = '1e-5'
  trait_type = 'binary'
  saige_step1_extra_flags = "--LOCO=FALSE"
  output_tag = 'test'
  gwas_cat = '/home/florian/Postdoc/Valve_disease_GWAS/nextflow_pipeline/gwascat.csv'
  top_n_sites = 200
  max_top_n_sites = 1000
  saige_filename_pattern = '.SAIGE.gwas.txt'
}


process {

  withName: saige_step1_bin {
    container = 'saige_0.43.2.sif'
  }
  withName: saige_step2_spa {
    container = 'saige_0.43.2.sif'
  }
  withName: prepare_files {
    container = 'gelgwas_1.1dev.sif'
  }
  withName: create_plots {
    container = 'gelgwas_1.1dev.sif'
  }
  

}